<!DOCTYPE html>
<html
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Product</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
<section  class="container mt-5">
    <h1>Edit Product</h1>
        <form th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="product-title">Tên Sản phẩm</label>
                <input type="text" class="form-control" id="product-title" th:field="*{title}" placeholder="Tên sản phẩm..." />
                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="product-price">Giá</label>
                <input type="number" class="form-control" id="product-price" th:field="*{price}" placeholder="Giá..." />
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="product-quantity">Số lượng</label>
                <input type="number" class="form-control" id="product-quantity" th:field="*{sl}" placeholder="Số lượng..." />
                <div class="text-danger" th:if="${#fields.hasErrors('sl')}" th:errors="*{sl}"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="product-description">Mô tả</label>
                <textarea id="product-description" class="form-control" th:field="*{description}" placeholder="Mô tả sản phẩm..."></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="product-year">Năm sản xuất</label>
                <input type="date" class="form-control" id="product-year" th:field="*{NamSX}" placeholder="Năm sản xuất..." />
                <div class="text-danger" th:if="${#fields.hasErrors('NamSX')}" th:errors="*{NamSX}"></div>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" id="image" name="image" class="form-control-file">
                <img th:src="@{${product.MuTiImagePath}}" alt="Product Image" class="img-thumbnail mt-3">
            </div>


            <div class="mb-3">
                <label class="form-label" for="product-category">Mã loại</label>
                <select class="form-control" id="product-category" th:field="*{category.id}">
                    <option value="">-- Chọn thể loại --</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    <a href="/products/list" class="btn btn-primary">quay lại danh sách</a>
</section>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>