<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ROG Tech - Thong tin Hoa Don</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<!-- Invoice 4 start -->
<div class="invoice-4 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner" id="invoice_wrapper">
                    <div class="invoice-top">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="logo">
                                    <a href="/"><img src="../assets/img/favicon/logo.jpg" alt="logo"><strong style="color: red;">ROG Tech</strong></a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="invoice text-end">
                                    <h1>Hóa Đơn</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-titel">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="invoice-number">
                                    <h3 th:text="'Số hóa đơn:#'+ ${hoaDon.id}">Số hoa don: #45613</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 text-end">
                                <div class="invoice-date">
                                    <h3 th:utext="${#dates.format(hoaDon.NgayLap, 'dd/MM/yyyy HH:mm:ss')}">Ngay lap: 24 Jan 2022</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-info">
                        <div class="row">
                            <div class="col-sm-6 mb-30">
                                <div class="invoice-number">
                                    <h4 class="inv-title-1">Hóa đơn đến</h4>
                                    <p>người đặt: <span th:text="${user.name}"></span></p>
                                    <p>Email: <span th:text="${user.email}"></span></p>
                                    <p>người nhận: <span th:text="${order.TenNguoiNhan}"></span></p>
                                    <p>Số điện thoại: <span th:text="${order.sdt}"></span></p>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-30">
                                <div class="invoice-number text-end">
                                    <h4 class="inv-title-1">Chủ Shop </h4>
                                    <p class="invo-addr-1">
                                          Totgokhung123<br/>
                                        chutienbinh2003@gmail.com<br/>
                                        Man thiện,tăng nhơn phu A, TP.HCM<br/>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-30">
                                <h4 class="inv-title-1" >trạng thái đơn hàng: </h4>
                                <p class="inv-from-1" th:text="${hoaDon.TrangThai}">trang thai don hang: </p>
                            </div>
                            <div class="col-sm-6 text-end mb-30">
                                <h4 class="inv-title-1">Phương thức thanh toán</h4>
                                <p class="inv-from-1" th:text="${order.pttt}">Credit Card</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-summary">
                        <div class="table-responsive">
                            <table class="table invoice-table">
                                <thead class="bg-active">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th class="text-center">Giá</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-right">Tổng tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderdetails : ${orderDetails}">
                                    <td>
                                        <div class="item-desc-1">
                                            <span th:text="${orderdetails.product.id}">BS-200</span>
                                            <small th:text="${orderdetails.product.title}">Customize web application</small>
                                        </div>
                                    </td>
                                    <td class="text-center" th:text="${@cartService.formatPrice(orderdetails.product.price)}">$10.99</td>
                                    <td class="text-center"th:text="${orderdetails.quantity}">1</td>
                                    <td class="text-right" th:text="${@cartService.formatPrice(orderdetails.price)}">$10.99</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-end"  >SubTotal</td>
                                    <td class="text-right" th:text="${@cartService.formatPrice(subTotal)}">$710.99</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-end" >VAT</td>
                                    <td class="text-right" th:text="${@cartService.formatPrice(tax)}">$85.99</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-end fw-bold">Grand Total</td>
                                    <td class="text-right fw-bold" th:text="${@cartService.formatPrice(total)}">$795.99</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="invoice-informeshon">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="payment-info mb-30">
                                    <h3 class="inv-title-1">Payment Info</h3>
                                    <ul class="bank-transfer-list-1">
                                        <li><strong>Account Name:</strong> 00 123 647 840</li>
                                        <li><strong>Account Number:</strong> Jhon Doe</li>
                                        <li><strong>Branch Name:</strong> xyz</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="invoice-contact clearfix">
                        <div class="row g-0">
                            <div class="col-lg-9 col-md-11 col-sm-12">
                                <div class="contact-info">
                                    <a href="tel:0942617888"><i class="fa fa-phone"></i> 0942617888</a>
                                    <a href="tel:chutienbinh2003@gmail.com"><i class="fa fa-envelope"></i> chutienbinh2003@gmail.com</a>
                                    <a href="tel:info@themevessel.com" class="mr-0 d-none-580"><i class="fa fa-map-marker"></i> Man thien, Tang nhon phu A, TP.HCM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invoice-btn-section clearfix d-print-none">
                    <a href="javascript:window.print()" class="btn btn-lg btn-print">
                        <i class="fa fa-print"></i>In file
                    </a>
<!--                    <a id="invoice_download_btn" th:href="@{'/order/download-invoice/' + ${hoaDon.id}}" class="btn btn-lg btn-download btn-theme">-->
<!--                        <i class="fa fa-download"></i> Xuất file PDF-->
<!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invoice 4 end -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jspdf.min.js"></script>
<script src="../assets/js/html2canvas.js"></script>
<script src="../assets/js/app.js"></script>
</body>
</html>
